.inline{
    border: 2px solid black;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.block{
    border: 2px solid black;
    display: block;
    
}
